<!-- prerequisites -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="https://cdn.jsdelivr.net/gh/godswearhats/jquery-ui-rotatable@1.1/jquery.ui.rotatable.min.js"></script>
    <!-- this is small and will allow you to override look/feel of handle -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/godswearhats/jquery-ui-rotatable@1.1/jquery.ui.rotatable.css">
<link rel="stylesheet" href="../dist/wheel.css"/>

<script type="text/javascript">
            $(document).ready(function() {
            var params = {
            // Callback fired on rotation start.
            start: function(event, ui) {
        },
            // Callback fired during rotation.
            rotate: function(event, ui) {
        },
            // Callback fired on rotation end.
            stop: function(event, ui) {
        },
            // Set the rotation center
            rotationCenterOffset: {
            top: 20,
            left: 20
        },
            transforms: {
            translate: '50%, 50%',
            scale: '2'
            //any other transforms
        }
        };
            $('.circle').rotatable(params);
        });
        </script>

        <div id="target">Rotate me!</div>
<div class="circle"></div>
